.heading
{
 font-size:23px;
width:100%;
margin: 0px;
}

.note
{
font-size: 15px;
color: black;
}

body
{
background-size: cover;

}



.song_name_div
{

width: 200px;
border-radius: 100px;
}

#song_name
{
font-size: 23px;
margin: 15px;
}
